$("#new_song_request").before('<div id="flash_notice"><%= escape_javascript( @song_request.title + " by " + @song_request.artist) %> added.</div>');
$("#new_song_request")[0].reset();
$("#flash_notice").fadeOut(1000);
